<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Vigilante
	<link href="https://fonts.googleapis.com/css?family=Muli:400,600|Rajdhani:400,600,700" rel="stylesheet">
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	style.
		@font-face{font-family:'Font Awesome 5 Free';src:url(../webfonts/fa-regular-400.eot);src:url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-regular-400.woff2) format("woff2"),url(../webfonts/fa-regular-400.woff) format("woff"),url(../webfonts/fa-regular-400.ttf) format("truetype"),url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")}@font-face{font-family:'Font Awesome 5 Free';font-weight:900;src:url(../webfonts/fa-solid-900.eot);src:url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.fas{font-family:'Font Awesome 5 Free';font-weight:900}.fa,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;-webkit-font-feature-settings:normal;font-feature-settings:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-bars:before{content:"\f0c9"}.fa-shopping-cart:before{content:"\f07a"}.btn{font-family:Rajdhani,sans-serif;text-transform:uppercase;font-weight:600;position:relative;overflow:hidden;z-index:1000;width:100%;height:40px;z-index:1}.btn:after{position:absolute;top:0;left:0;content:'';background:#ff6158;width:40%;height:100%;padding:0 1em}.VigilanteHero{padding:1em 5em;background:#151922}.VigilanteHero-header{background:#151922;color:black;display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between}.VigilanteHero-header-logo{-webkit-box-align:center;align-items:center;display:-webkit-box;display:flex}.VigilanteHero-header-logo-imagen{width:20%;margin:0}.VigilanteHero-header-logo-imagen img{width:100%}.VigilanteHero-header-logo-titulo{color:white;font-family:Muli,sans-serif;font-size:32px;font-size:2rem;margin:0;padding-left:.5em}.VigilanteHero-header-collapse{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;margin:0;padding:0;list-style:none}.VigilanteHero-header-collapse-item{margin:.5em}.VigilanteHero-header-collapse-item a{padding:2em;color:white;font-family:Muli,sans-serif}.VigilanteHero-header-collapse-item:nth-child(2){display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;border-radius:10px;overflow:hidden}.VigilanteHero-header-collapse-item-carro{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;background:#6364d8;color:white;padding:.5em 1em}.VigilanteHero-header-collapse-item-carro span:last-child{margin-left:.5em;font-family:Muli,sans-serif}.VigilanteHero-header-collapse-item-cero{background:#3939b1;padding:.5em 1em;color:white;font-family:Muli,sans-serif}.VigilanteHero-header-collapse-item:last-child{color:white;font-size:24px;font-size:1.5rem}.VigilanteHero-header-navbar{position:fixed;width:100%;top:0;left:0;height:100vh;background:#2f343a;background:rgba(47,52,58,.78039);z-index:1000;overflow:hidden;padding:1em 5em;display:none;opacity:0}.VigilanteHero-header-navbar-menu{width:100%;height:100%;padding:0;display:-webkit-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;list-style:none;font-family:Muli,sans-serif}.VigilanteHero-header-navbar-menu-item{margin:.5em}.VigilanteHero-header-navbar-menu-item a{padding:1em;color:white;font-size:24px;font-size:1.5rem}.VigilanteHero-grid{display:grid;grid-template-columns:repeat(8,1fr);grid-gap:10px;grid-auto-flow:column dense;grid-auto-rows:100px}.VigilanteHero img{width:100%}.VigilanteHero-copy{background:#151922;border-top:1px solid white;border-right:1px solid white;padding:0 2em 2em 0}.VigilanteHero-copy-callToAction{padding:3em 4em;grid-column:1/6;grid-row:1/6}.VigilanteHero-copy-callToAction-caption{color:white;font-family:Rajdhani,sans-serif;font-weight:600;font-size:48px;font-size:3rem}.VigilanteHero-copy-callToAction-caption span{color:#41454e;font-size:24px;font-size:1.5rem;text-transform:uppercase}.VigilanteHero-copy-callToAction-title{font-family:Muli,sans-serif;font-weight:600;font-size:64px;font-size:4rem;color:white}.VigilanteHero-copy-callToAction-title span:first-child{color:#41454e}.VigilanteHero-copy-callToAction-btn{margin-top:1em;color:white;font-size:24px;font-size:1.5rem;width:40%}.VigilanteHero-copy-callToAction-btn:after{content:'Comprar Ahora'}.VigilanteHero-copy-donde{grid-column:7/9;grid-row:1}.VigilanteHero-copy-donde-caption{padding-top:1em;color:white;font-family:Rajdhani,sans-serif;width:70%;text-transform:uppercase}.VigilanteHero-copy-cuantas{grid-column:5/7;grid-row:3/5}.VigilanteHero-copy-cuantas-caption{color:white;font-family:Rajdhani,sans-serif;text-transform:uppercase}.VigilanteHero-copy-observa{grid-column:7/9;grid-row:4/6}.VigilanteHero-copy-observa-caption{color:white;font-family:Rajdhani,sans-serif;text-transform:uppercase}.VigilanteHero-copy-leer{grid-column:5/7;grid-row:5;display:-webkit-box;display:flex;-webkit-box-pack:end;justify-content:flex-end}.VigilanteHero-copy-leer-btn{font-size:1.3em;color:white;display:-webkit-box;display:flex;width:60%}.VigilanteHero-copy-leer-btn:after{content:'Aprender Mas';height:80%}.VigilanteHero-copy-cita{grid-column:1/4;grid-row:6/8;background:white;padding:.5em 2em;font-family:Rajdhani,sans-serif;text-transform:uppercase}.VigilanteHero-copy-cita-title{font-weight:700;font-size:40px;font-size:2.5rem;display:inline}.VigilanteHero-copy-cita-autor{font-weight:700;margin-left:4em;color:#41454e}.VigilanteProductos{padding:7em 5em}@media screen and (max-width:1025px){.VigilanteHero{padding:1em 3em}.VigilanteHero-header-logo-titulo{font-size:1.5rem}.VigilanteHero-header-collapse-item:first-child a{padding:0}.VigilanteHero-copy-callToAction{grid-column:2/8;grid-row:1/5;padding:3em 0;text-align:center}.VigilanteHero-copy-callToAction-caption{font-size:2rem;text-align:left}.VigilanteHero-copy-callToAction-title{font-size:3rem}.VigilanteHero-copy-callToAction-btn{width:50%}.VigilanteHero-copy-donde{grid-column:1/3;grid-row:4/6}.VigilanteHero-copy-donde-caption{font-size:1rem;width:100%;padding-top:0}.VigilanteHero-copy-cuantas{grid-column:4/6;grid-row:4/6}.VigilanteHero-copy-cuantas-caption{font-size:1rem}.VigilanteHero-copy-observa{grid-column:7/9;grid-row:4/6}.VigilanteHero-copy-observa-caption{font-size:1rem}.VigilanteHero-copy-leer{grid-column:1/3;grid-row:6;-webkit-box-pack:start;justify-content:flex-start;width:200%}.VigilanteHero-copy-cita{display:none}}@media screen and (max-width:500px){.VigilanteHero{padding:1em!important}.VigilanteHero-header-logo-imagen{width:30%}.VigilanteHero-header-collapse-item:first-child{display:none}.VigilanteHero-header-collapse-item-carro{padding:.3em .5em}.VigilanteHero-header-collapse-item-cero{padding:.3em .7em}.VigilanteHero-grid{grid-template-columns:repeat(2,1fr)}.VigilanteHero-grid-column:first-child{grid-area:1 / 1 / 5 / 3}.VigilanteHero-grid-column:nth-child(2){grid-area:4 / 1 / 7 / 3}.VigilanteHero-grid-column:nth-child(3){grid-area:7 / 1 / 10 / 3}.VigilanteHero-grid-column:nth-child(4){grid-area:10 / 1 / 13 / 3}.VigilanteHero-grid-column:nth-child(5){grid-area:13 / 1 / 14 / 3}.VigilanteHero-copy{padding:1em 0;border-right:none}.VigilanteHero-copy-callToAction-title{font-size:2.5em}.VigilanteHero-copy-callToAction-btn{width:61%}.VigilanteHero-copy-donde,.VigilanteHero-copy-cuantas,.VigilanteHero-copy-observa{padding:1.5em}.VigilanteHero-copy-donde{margin-top:2em}.VigilanteHero-copy-donde-caption{font-size:1.5rem}.VigilanteHero-copy-cuantas-caption{font-size:1.5rem}.VigilanteHero-copy-observa-caption{font-size:1.5rem}.VigilanteHero-copy-leer{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;width:100%}.VigilanteHero-copy-leer-btn{width:41%}.VigilanteProductos{padding:3em 2em}}
body
	section.VigilanteHero
		header.VigilanteHero-header
			a(href="#").VigilanteHero-header-logo
				figure.VigilanteHero-header-logo-imagen
					img(src="img/logo.png", alt="logo")
				h1.VigilanteHero-header-logo-titulo Vigilante
			ul.VigilanteHero-header-collapse
				li.VigilanteHero-header-collapse-item
					a(href="#") Inicia Sesión
				li.VigilanteHero-header-collapse-item
					.VigilanteHero-header-collapse-item-carro
						span.fas.fa-shopping-cart
						span Carro
					.VigilanteHero-header-collapse-item-cero
						span 0
				li.VigilanteHero-header-collapse-item
					span.fa.fa-bars#burguer
			navbar.VigilanteHero-header-navbar#menu
				span.fa.fa-times.VigilanteHero-header-navbar-close#close
				ul.VigilanteHero-header-navbar-menu
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Iniciar Sesión
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Registrarse
					li.VigilanteHero-header-navbar-menu-item
						a(href="productos.html") Productos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Quienes Somos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Contacto
		.VigilanteHero-copy.VigilanteHero-grid
			.VigilanteHero-copy-callToAction.VigilanteHero-grid-column
				h3.VigilanteHero-copy-callToAction-caption!= "01 <span>intro</span>"
				h1.VigilanteHero-copy-callToAction-title!= "<span>Asegura tu hogar</span><br> Con Vigilante"
				a(href="productos.html").btn.VigilanteHero-copy-callToAction-btn
			.VigilanteHero-copy-donde.VigilanteHero-grid-column
				h4.VigilanteHero-copy-donde-caption Camaras donde Quieras
				img(src="img/donde.jpg", alt="camaras")
			.VigilanteHero-copy-cuantas.VigilanteHero-grid-column
				h4.VigilanteHero-copy-cuantas-caption Cuantas necesites
				img(src="img/cuantas.jpg", alt="cuantas")
			.VigilanteHero-copy-observa.VigilanteHero-grid-column
				h4.VigilanteHero-copy-observa-caption Observa donde quieras
				img(src="img/observa.jpg", alt="observa")
			.VigilanteHero-copy-leer.VigilanteHero-grid-column
				a(href="#").btn.VigilanteHero-copy-leer-btn 
			.VigilanteHero-copy-cita.VigilanteHero-grid-column
				h2.VigilanteHero-copy-cita-title!= "Prevención lo que se hace <br>seguridad lo que se logra"
				span.VigilanteHero-copy-cita-autor Wilmer romero hermitaño
	section.VigilanteProductos
		.VigilanteProductos-header
			h1.VigilanteProductos-header-title Lo mejor en circuito cerrado de televisión
			h3.VigilanteProductos-header-caption!= "02 <span>productos</span>"
		.VigilanteProductos-grid
			.VigilanteProductos-grid-item
				h2.VigilanteProductos-grid-item-title Nuestra tienda
				p.VigilanteProductos-grid-item-parrafo Esta nueva tienda esta equipada con lo mejor en equipos, accesorios y materiales en los que puedes mantener seguro tu hogar.
			.VigilanteProductos-grid-item
				.VigilanteProductos-grid-item-descripcion
					h2.VigilanteProductos-grid-item-descripcion-title Mejores camaras
					p.VigilanteProductos-grid-item-descripcion-parrafo Estas camaras son las mejores que te encontraras en el mercado.
					a(href="productos.html").btn.VigilanteProductos-grid-item-descripcion-btn
				.VigilanteProductos-grid-item-imagen
					img(src="img/camara.png", alt="camaras")
			.VigilanteProductos-grid-item
				.VigilanteProductos-grid-item-imagen
					img(src="img/dvr.png", alt="dvr")
				.VigilanteProductos-grid-item-descripcion
					h2.VigilanteProductos-grid-item-descripcion-title DVRs Modernos
					p.VigilanteProductos-grid-item-descripcion-parrafo Tenemos la ultima tecnologia en DVRs apra que estes totalmente alerta
					a(href="productos.html").VigilanteProductos-grid-item-descripcion-btn.btn
			.VigilanteProductos-grid-item
				.VigilanteProductos-grid-item-descripcion
					h2.VigilanteProductos-grid-item-descripcion-title Tecnicos
					p.VigilanteProductos-grid-item-descripcion-parrafo Cuentas con tecnicos especializados en esta industria.
					a(href="productos.html").VigilanteProductos-grid-item-descripcion-btn.btn
				.VigilanteProductos-grid-item-imagen
					img(src="img/tecnico.png", alt="tecnico")
	section.VigilanteBlog
		.VigilanteBlog-header
			h3.VigilanteBlog-caption!= "03 <span>blog</span>"
		h1.VigilanteBlog-title Ultimas noticias de seguridad
		.VigilanteBlog-grid
			a(href="#").VigilanteBlog-grid-post
				.VigilanteBlog-grid-post-interior
					span.VigilanteBlog-grid-post-interior-categoria Popular
					h2.VigilanteBlog-grid-post-interior-title Consejos para la seguridad en la ciudad
			a(href="#").VigilanteBlog-grid-post
				.VigilanteBlog-grid-post-interior
					span.VigilanteBlog-grid-post-interior-categoria Popular
					h2.VigilanteBlog-grid-post-interior-title Utiliza las mejores herramientas
			a(href="#").VigilanteBlog-grid-post
				.VigilanteBlog-grid-post-interior
					span.VigilanteBlog-grid-post-interior-categoria Popular
					h2.VigilanteBlog-grid-post-interior-title ¿Tu hogar esta protegido?
		a(href="#").btn.VigilanteBlog-btn Blog
	footer.VigilanteFooter
		.VigilanteFooter-grid
			.VigilanteFooter-grid-column
				.VigilanteFooter-grid-column-container
					h2.VigilanteFooter-grid-column-title Categorias
					ul.VigilanteFooter-grid-column-list
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Camaras Fijas
						li.VigilanteFooter-grid-column-list-item
							a(href="#") DVR
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Conectores
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Calbes
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Monitores
			.VigilanteFooter-grid-column
				.VigilanteFooter-grid-column-container
					h2.VigilanteFooter-grid-column-title Tienda
					ul.VigilanteFooter-grid-column-list
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Iniciar Sesión
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Registrarse
						li.VigilanteFooter-grid-column-list-item
							a(href="productos.html") Productos
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Quienes Somos
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Contacto
			.VigilanteFooter-grid-column
				.VigilanteFooter-grid-column-container
					h2.VigilanteFooter-grid-column-title Social
					.VigilanteFooter-grid-column-logo
						img(src="img/logo.png", alt="logo")
						h3.VigilanteFooter-grid-column-logo-nombre Vigilante
					ul.VigilanteFooter-grid-column-list
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-facebook-f
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-instagram
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-twitter
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-youtube
		.VigilanteFooter-footer
			span.VigilanteFooter-footer-item &copy; 2018 Vigilante. Todos los derechos reservados.
			span.VigilanteFooter-footer-item!= "Diseño y Desarrollo por <a href='http://jesusrojas.com.ve' target='_blank'>Jesús Rojas</a>"
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/estilos.css")
	script(src="js/app.js")