<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Vigilante
	<link href="https://fonts.googleapis.com/css?family=Muli:400,600|Rajdhani:400,600,700" rel="stylesheet">
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.VigilanteHero
		header.VigilanteHero-header
			a(href="#").VigilanteHero-header-logo
				figure.VigilanteHero-header-logo-imagen
					img(src="img/logo.png", alt="logo")
				h1.VigilanteHero-header-logo-titulo Vigilante
			ul.VigilanteHero-header-collapse
				li.VigilanteHero-header-collapse-item
					a(href="#") Inicia Sesión
				li.VigilanteHero-header-collapse-item
					.VigilanteHero-header-collapse-item-carro
						span.fas.fa-shopping-cart
						span Carro
					.VigilanteHero-header-collapse-item-cero
						span 0
				li.VigilanteHero-header-collapse-item
					span.fa.fa-bars
			navbar.VigilanteHero-header-navbar
				ul.VigilanteHero-header-navbar-menu
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Iniciar Sesión
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Registrarse
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Productos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Quienes Somos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Contacto
		.VigilanteHero-copy.VigilanteHero-grid
			.VigilanteHero-copy-callToAction.VigilanteHero-grid-column
				h3.VigilanteHero-copy-callToAction-caption!= "01 <span>intro</span>"
				h1.VigilanteHero-copy-callToAction-title!= "<span>Asegura tu hogar</span><br> Con Vigilante"
				a(href="#").btn.VigilanteHero-copy-callToAction-btn
			.VigilanteHero-copy-donde.VigilanteHero-grid-column
				h4.VigilanteHero-copy-donde-caption Camaras donde Quieras
				img(src="img/donde.jpg", alt="camaras")
			.VigilanteHero-copy-cuantas.VigilanteHero-grid-column
				h4.VigilanteHero-copy-cuantas-caption Cuantas necesites
				img(src="img/cuantas.jpg", alt="cuantas")
			.VigilanteHero-copy-observa.VigilanteHero-grid-column
				h4.VigilanteHero-copy-observa-caption Observa donde quieras
				img(src="img/observa.jpg", alt="observa")
			.VigilanteHero-copy-leer.VigilanteHero-grid-column
				a(href="#").btn.VigilanteHero-copy-leer-btn 
			.VigilanteHero-copy-cita.VigilanteHero-grid-column
				h2.VigilanteHero-copy-cita-title!= "Prevención lo que se hace <br>seguridad lo que se logra"
				span.VigilanteHero-copy-cita-autor Wilmer romero hermitaño
	section.VigilanteProductos
		h1.VigilanteProductos-title Lo mejor en circuito cerrado de televisión
		h3.VigilanteProductos-caption!= "02 <span>productos</span>"
		.VigilanteProductos-grid
			.VigilanteProductos-grid-item
				h2.VigilanteProductos-grid-item-title Nuestra tienda
				p.VigilanteProductos-grid-item-parrafo Esta nueva tienda esta equipada con lo mejor en equipos, accesorios y materiales en los que puedes mantener seguro tu hogar.
			.VigilanteProductos-grid-item
				.VigilanteProductos-grid-item-descripcion
					h2.VigilanteProductos-grid-item-descripcion-title Mejores camaras
					p.VigilanteProductos-grid-item-descripcion-parrafo Estas camaras son las mejores que te encontraras en el mercado.
					a(href="#").btn.VigilanteProductos-grid-item-descripcion-btn Ver todas
				.VigilanteProductos-grid-item-imagen
					img(src="img/camara.png", alt="camaras")
			.VigilanteProductos-grid-item
				.VigilanteProductos-grid-item-imagen
					img(src="img/dvr.png", alt="dvr")
				.VigilanteProductos-grid-item-descripcion
					h2.VigilanteProductos-grid-item-descripcion-title DVRs Modernos
					p.VigilanteProductos-grid-item-descripcion-parrafo Tenemos la ultima tecnologia en DVRs apra que estes totalmente alerta
					a(href="#").VigilanteProductos-grid-item-descripcion-btn Ver Todos
			.VigilanteProductos-grid-item
				.VigilanteProductos-grid-item-descripcion
					h2.VigilanteProductos-grid-item-descripcion-title Tecnicos
					p.VigilanteProductos-grid-item-descripcion-parrafo Cuentas con tecnicos especializados en esta industria.
					a(href="#").VigilanteProductos-grid-item-descripcion-btn.btn Perdir servicio
				.VigilanteProductos-grid-item-imagen
					img(src="img/tecnico.png", alt="tecnico")
	section.VigilanteBlog
		h3.VigilanteBlog-caption!= "03 <span>blog</span>"
		h1.VigilanteBlog-title Ultimas noticias de seguridad
		.VigilanteBlog-grid
			.VigilanteBlog-grid-post
				.VigilanteBlog-grid-post-interior
					span.VigilanteBlog-grid-post-interior-categoria Popular
					h2.VigilanteBlog-grid-post-interior-tittle Consejos para la seguridad en la ciudad
			.VigilanteBlog-grid-post
				.VigilanteBlog-grid-post-interior
					span.VigilanteBlog-grid-post-interior-categoria Popular
					h2.VigilanteBlog-grid-post-interior-title Utiliza las mejores herramientas
			.VigilanteBlog-grid-post
				.VigilanteBlog-grid-post-interior
					span.VigilanteBlog-grid-post-interior-categoria Popular
					h2.VigilanteBlog-grid-post-interior-title ¿Tu hogar esta protegido?
		a(href="#").btn.VigilanteBlog-btn Blog
	footer.VigilanteFooter
		.VigilanteFooter-grid
			.VigilanteFooter-grid-column
				h2.VigilanteFooter-grid-column-title Categorias
				ul.VigilanteFooter-grid-column-list
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Camaras Fijas
					li.VigilanteFooter-grid-column-list-item
						a(href="#") DVR
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Conectores
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Calbes
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Monitores
			.VigilanteFooter-grid-column
				h2.VigilanteFooter-grid-column-title Tienda
				ul.VigilanteFooter-grid-column-list
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Iniciar Sesión
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Registrarse
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Productos
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Quienes Somos
					li.VigilanteFooter-grid-column-list-item
						a(href="#") Contacto
			.VigilanteFooter-grid-column
				h2.VigilanteFooter-grid-column-title Social
				.VigilanteFooter-grid-column-logo
					img(src="img/logo.png", alt="logo")
					h3h3.VigilanteFooter-grid-column-logo-nombre Vigilante
				ul.VigilanteFooter-grid-column-list
					li.VigilanteFooter-grid-column-list-item
						a(href="#")
							span.fab.fa-facebook-f
					li.VigilanteFooter-grid-column-list-item
						a(href="#")
							span.fab.fa-instagram
					li.VigilanteFooter-grid-column-list-item
						a(href="#")
							span.fab.fa-twitter
					li.VigilanteFooter-grid-column-list-item
						a(href="#")
							span.fab.fa-youtube
	.VigilanteFooter-footer
		span.VigilanteFooter-footer-item &copy; 2018 Vigilante. Todos los derechos reservados.
		span.VigilanteFooter-footer-item!= "Diseño y Desarrollo por <a href='http://jesusrojas.com.ve' target='_blank'>Jesús Rojas</a>"